{:ns-clj [;page.services page.handler
          ]
 :keybindings []
 :goldly {;; build
          :lazy true
          ;; run-time
          :autoload-cljs-dir ["demoapp"]
          :routes {:app {"" :default-page
                         [:user "/" :page] :user-page}
                   :api {"page" {:get :page/get
                                 :post :page/set}}}}}
